.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.formulario {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
}

.titulo {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.label {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0 5px 5px;
    color: #555;
}

.inputCampo {
    background-color: lightgray;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-bottom: 10px;
    font-size: 14px;
}

.nomeSobrenome {
    display: flex;
    justify-content: space-between;
}

.nomeSobrenome > input {
    width: 41%;

}

.botaoCadastro {
    margin-top: 20px;
}

.botao {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #666666;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
}

.botao:hover {
    background-color: #858585;
}

.linkLogin {
    margin-top: 15px;
    font-size: 16px;
    color: #555;
}

.linkLogin a {
    color: #6a11cb;
    text-decoration: none;
    font-weight: bold;
}

.linkLogin a:hover {
    text-decoration: underline;
}
